/* FIX:
* Navigation background opacity (readability)
* Navigation burger when really small!
*/

/* Body styles */

.hero {
    background: #fff;
  }
  
  .header-image {
    position: absolute;
    height: 35%;
    width: 100%;
    background: url("img/city.jpg") center / cover;
    background-position: 100% 50%;
  }
  
  /* Navigation */
  
  .hero .navbar {
    width: 100%;
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0 8px 16px rgba(10,10,10,.1);
  }
  
  .tabs {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-x: hidden;
  }
  
  /* green: #207c25 */
  .tabs a {
    border: none;
    color: #4a4a4a;
    font-size: 85%;
    transition: font-size 0.4s ease;
  }
  
  .tabs li.is-active a,  .tabs a:hover {
    border-bottom: none;
    color: #fff;
    font-size: 100%;
    font-weight: 400;
  }
  
  .navbar-item img {
    max-height: 4rem;
  }
  
  .navbar-burger {
    height: auto;
  }
  
  /* hero-body */
  
  .hero-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #4a4a4a;
    opacity: 0.9;
    position: absolute;
    top: 35%;
    font-size: 120%;
  }
  
  .hero-body .section {
    padding: 5% 0;
  }
  
  .columns {
    max-width: 60%;
    margin: 4% auto;
    position: relative;
  }

  .column {
    margin: auto 50px;
    margin-bottom: 10%;
    text-align: justify;
  }

  .map {
    height: 500px;
    background: url("img/map.PNG") center / cover;
  }
  
  /* Responsiveness: media queries */
  
  @media screen and (max-width: 1087px) {
    .navbar-menu {
      background-color: rgba(255,255,255,0.05);
      box-shadow: 0 8px 16px rgba(10,10,10,.1);
      padding: .5rem 0;
    }
  }
  
  @media screen and (max-width: 500px) {
    .tabs.is-right ul {
      flex-direction: column;
      justify-content: flex-end;
    }
  }
  
  /* Footer */
  
  .hero-foot {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 150%;
    background: #262C32;
  }
  
  .hero-foot .facebook, .hero-foot .instagram, .hero-foot .email {
    /* color: #8b9dc3; */
    color: #fff;
    font-size: 100%;
  }
  
  .hero-foot .tabs a {
    border-bottom: none;
  }
  
  .hero-foot .facebook:hover {
    color: #3b5998;
    font-size: 100%;
  }
  
  .hero-foot .instagram:hover {
    color: #cd486b;
    font-size: 100%;
  }
  
  .hero-foot .email:hover {
    color: #207c25;
    font-size: 100%;
  }
  